<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Singularity Data Annotation Tools</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="stylesheet" href="../static/css/styles.css">
    <script type="module" src="../static/js/wavesurfer.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="{{ url_for('static', filename='img/logo.png') }}" width="90" height="50" class="d-inline-block align-mid" alt="">
            Makhraj & Tajwid Annotation Tools
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <button id="completeMakhrajBtn" class="btn btn-success text-white" onclick="completeMakhraj()">Complete Annotation Makhraj</button>
                </li>
                <li class="nav-item">
                    <button id="completeTajwidBtn" class="btn btn-info text-white" onclick="completeTajwid()">Complete Annotation Tajwid</button>
                </li>                
            </ul>
        </div>
    </nav>
    
    <div class="container-fluid">
        <div class="row">
            <!-- Upload Sidebar -->
            <div class="col-md-12">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Upload Audio</h5>
                        <form id="upload-form">
                            <div class="form-group">
                                <label for="audioFile">Choose Audio File</label>
                                <input type="file" class="form-control-file" id="audioFile" accept="audio/*">
                            </div>
                            <button type="button" class="btn btn-primary" onclick="uploadAudio()">Upload</button>
                        </form>
                    </div>
                </div>

                <!-- Annotation Table for Makhraj -->
                <div id="annotationList">
                    <h6>Saved Annotations (Makhraj)</h6>
                    <table id="annotationTable" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Letter</th>
                                <th>Primary Makhraj</th>
                                <th>Secondary Makhraj</th>
                                <th>Details</th>
                                <th>Start Time</th>
                                <th>End Time</th>
                                <th>Environment</th>
                                <th>Quality</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="annotationTableBody">
                            <!-- Makhraj Annotations will be appended here -->
                        </tbody>
                    </table>
                </div>

                <!-- Annotation Table for Tajwid -->
                <div id="annotationListTajwid">
                    <h6>Saved Annotations (Tajwid)</h6>
                    <table id="annotationTableTajwid" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Rule</th>
                                <th>Sub Rule</th>
                                <th>Sub Sub Rule</th>
                                <th>Start Time</th>
                                <th>End Time</th>
                                <th>Context</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="annotationTableBodyTajwid">
                            <!-- Tajwid Annotations will be appended here -->
                        </tbody>
                    </table>
                </div>


                <!-- Main Content -->
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Audio Player</h5>

                        <!-- Waveform -->
                        <div id="waveform"></div>

                        <!-- Controls -->
                        <div id="controls" class="d-flex justify-content-start">
                            <button id="playPause" class="btn btn-primary">Play/Pause</button>
                            <button id="stop" class="btn btn-danger">Stop</button>
                        </div>

                        <!-- Time Stamp -->
                        <div id="time">0:00.000</div>

                        <!-- Dropdown Selection -->
                        <div class="form-group">
                            <label for="annotationType">Choose Annotation Type</label>
                            <select class="form-control" id="annotationType" onchange="showAnnotationFields()">
                                <option value="">Select Annotation Type</option>
                                <option value="makhraj">Anotasi Makhraj</option>
                                <option value="tajwid">Anotasi Tajwid</option>
                            </select>
                        </div>

                        <!-- Makhraj Annotation Fields -->
                        <div id="makhrajFields" class="hidden">
                            <div class="form-group">
                                <label for="makhrajLetter">Letter</label>
                                <select class="form-control" id="makhrajLetter" onchange="updateFieldsBasedOnLetter()">
                                    <option value="ﺍ">ﺍ</option>
                                    <option value="ب">ب</option>
                                    <option value="ت">ت</option>
                                    <option value="ث">ث</option>
                                    <option value="ج">ج</option>
                                    <option value="ح">ح</option>
                                    <option value="خ">خ</option>
                                    <option value="د">د</option>
                                    <option value="ذ">ذ</option>
                                    <option value="ر">ر</option>
                                    <option value="ز">ز</option>
                                    <option value="س">س</option>
                                    <option value="ش">ش</option>
                                    <option value="ص">ص</option>
                                    <option value="ض">ض</option>
                                    <option value="ط">ط</option>
                                    <option value="ظ">ظ</option>
                                    <option value="ع">ع</option>
                                    <option value="غ">غ</option>
                                    <option value="ف">ف</option>
                                    <option value="ق">ق</option>
                                    <option value="ك">ك</option>
                                    <option value="ل">ل</option>
                                    <option value="م">م</option>
                                    <option value="ن">ن</option>
                                    <option value="و">و</option>
                                    <option value="ه">ه</option>
                                    <option value="ء">ء</option>
                                    <option value="ي">ي</option>
                                </select>
                                
                            </div>
                            <div class="form-group">
                                <label for="makhrajPrimary">Primary Makhraj</label>
                                <select class="form-control" id="makhrajPrimary">
                                    <option value="Halaq">Halaq (Tenggorokan)</option>
                                    <option value="Lisan">Lisan (Lidah)</option>
                                    <option value="Shafatan">Shafatan (Bibir)</option>
                                    <option value="Khaishum">Khaishum (Hidung)</option>
                                </select>                                
                            </div>
                            <div class="form-group">
                                <label for="makhrajSecondary">Secondary Makhraj</label>
                                <select class="form-control" id="makhrajSecondary">
                                    <option value="Bagian dalam tenggorokan">Bagian dalam tenggorokan</option>
                                    <option value="Tengah lidah">Tengah lidah</option>
                                    <option value="Ujung lidah">Ujung lidah</option>
                                    <option value="Bibir atas">Bibir atas</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="makhrajDetails">Details</label>
                                <textarea class="form-control" id="makhrajDetails" readonly></textarea>                               
                            </div>
                            <div class="form-group">
                                <label for="startTime">Start Time (seconds.milliseconds)</label>
                                <input type="text" class="form-control" id="startTime" placeholder="e.g., 0.0">
                            </div>
                            <div class="form-group">
                                <label for="endTime">End Time (seconds.milliseconds)</label>
                                <input type="text" class="form-control" id="endTime" placeholder="e.g., 0.5">
                            </div>
                            <div class="form-group">
                                <label for="recordingEnvironment">Recording Environment</label>
                                <select class="form-control" id="recordingEnvironment">
                                    <option value="studio">Studio</option>
                                    <option value="other">Other</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="recordingQuality">Recording Quality</label>
                                <select class="form-control" id="recordingQuality">
                                    <option value="high">High</option>
                                    <option value="mid">Mid</option>
                                    <option value="low">Low</option>
                                </select>
                            </div>
                        </div>

                        <!-- Tajwid Annotation Fields -->
                        <div id="tajwidFields" class="hidden">
                            <div class="form-group">
                                <label for="tajwidRule">Tajwid Rule</label>
                                <select class="form-control" id="tajwidRule">
                                    <option value="Mad">Mad</option>
                                    <option value="Hukum Nun Mati">Hukum Nun Mati</option>
                                    <option value="Hukum Mim Mati">Hukum Mim Mati</option>
                                </select>
                            </div>
                            
                            <!-- Sub Rule: Will be dynamically populated based on the selected Tajwid Rule -->
                            <div class="form-group">
                                <label for="tajwidSubRule">Sub Rule</label>
                                <select class="form-control" id="tajwidSubRule">
                                    <!-- Options will be populated by JavaScript -->
                                </select>
                            </div>
                            
                            <!-- Sub Sub Rule: Will be dynamically populated based on the selected Sub Rule -->
                            <div class="form-group">
                                <label for="tajwidSubSubRule">Sub Sub Rule</label>
                                <select class="form-control" id="tajwidSubSubRule">
                                    <!-- Options will be populated by JavaScript -->
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="tajwidStartTime">Start Time (seconds.milliseconds)</label>
                                <input type="text" class="form-control" id="tajwidStartTime" placeholder="e.g., 0.0">
                            </div>
                            <div class="form-group">
                                <label for="tajwidEndTime">End Time (seconds.milliseconds)</label>
                                <input type="text" class="form-control" id="tajwidEndTime" placeholder="e.g., 0.5">
                            </div>
                            <div class="form-group">
                                <label for="tajwidContext">Context</label>
                                <input type="text" class="form-control" id="tajwidContext" placeholder="Enter context (e.g., رَبِّ)">
                            </div>
                        </div>

                        <button type="button" class="btn btn-primary hidden" id="saveAnnotationBtn" onclick="saveAnnotation()">Save Annotation</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <footer class="bg-light text-center text-lg-start">
        <div class="text-center p-3">
            © 2024 Singularity Annotation Tools
        </div>
    </footer>

</body>
</html>
